<section>
    <h4 tabindex="1">sorry, that didn't work. here's why:</h4>

    <blockquote>
        <p class="subheader"><%= error %></p>
    </blockquote>

    <p><a class="yellow-text text-darken-4 bold" href="/" aria-label="Go back to home screen">go back home</a>.</p>
</section>