<h1>plant api is a-goin</h1>

<section>
    <div class="row">
        <div class="col s12 m8 l6">
            <div class="row form-thing">
                <blockquote>
                    blants
                </blockquote>
                <!-- <form method="post" class="input-field" action="/">
                    <div class="col s4 at" aria-hidden="true">@</div>
                    <div class="col s8">
                        <label id="username-label" for="username" aria-label="Enter your twitter username">enter your twitter username: </label>
                        <input id="username" name="username" type="text" placeholder="my_user_name" aria-labelledby="username-label"/>
                    </div>
                    <div class="col s12">
                        <button role="button" class="waves-effect right waves-light btn yellow darken-2 heartbeat z-depth-2" type="submit" aria-label="Submit username to top Lemon">top them NOW</button>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</section>