<section>
    <h4 tabindex="1">successful!!</h4>

    <blockquote>
        <p class="subheader">thanks. i love that this is happening for you!</p>
    </blockquote>

    <p>or, you can <a class="yellow-text text-darken-4 bold" href="/" aria-label="Go back to home screen">go back home</a>.</p>
</section>